{% extends 'basereg.html' %}
{% load static %}
{% block nav %}



<h2 class="text-center text-dark">Scheduled List</h2>
    {% for i in booked %}
    <div class="no-gutters bg-transparent mb-5">
      <div class="row">
        <!-- <div class="col">
          <img src="{{i.image.url}}" height="100px" width="100px" alt="image">
        </div> -->
        <div id="col1" class="col">
          <ul class="list-group">
            <li class="list-group-item bg-success">Category item : {{i.type}}</li>
            <li class="list-group-item">Number of bags : {{i.number_of_bags}}</li>
            <li class="list-group-item font-weight-bolder">Date : {{i.date}}
              <!-- ({{i.totalamount}}) -->
            </li>
            <li class="list-group-item text-right"><a href="{% url 'dlt' i.id %}" class="btn btn-danger">Cancel</a></li>

            
            <!-- <a href="" class="btn  btn-warning">Edit</a> -->
            
          </ul>
        </div>
      </div>
    </div>
    
    {% endfor %}  





























{% endblock nav %}
